@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Young+Serif&display=swap');

:root {
	--light-green: hsl(148, 38%, 91%);
	--green: hsl(169, 82%, 27%);
	--red: hsl(0, 66%, 56%);

	--white: hsl(0, 0%, 100%);
	--medium-grey: hsl(186, 15%, 59%);
	--dark-grey: hsl(187, 24%, 22%);
}

body {
	font-family: 'Karla';
	background-color: var(--light-green);
	color: var(--dark-grey);
	height: 100vh;
	display: grid;
	place-content: center;
}

.container {
	background-color: var(--white);
	width: 65vw;
	margin: 0 auto;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* align-items: center; */
	padding: 40px;
}

.name {
	display: flex;
	/* justify-content: space-between; */
	gap: 10px;
}

.input-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 10px;
}

input[type='text'],
input[type='email'] {
	height: 35px;
	border-radius: 5px;
	border: 1px solid var(--medium-grey);
}

.queries {
	display: flex;
	gap: 10px;
	/* justify-content: space-evenly; */
}

.query {
	border: 1px solid var(--medium-grey);
	border-radius: 5px;
	padding: 20px;
	flex-grow: 1;
}

button {
	color: var(--white);
	background-color: var(--green);
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	border-radius: 10px;
	outline: none;
	border: none;
}

textarea {
	resize: none;
	height: 70px;
	border-radius: 5px;
	border: 1px solid var(--medium-grey);
}

label {
	font-size: 16px;
}

.req-input {
	color: var(--green);
}
